*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    
}

body,
h1,
h2,
h3,
p{
    margin: 0;
   
    
}
ul[class],
ol[class]{
    list-style: none;
    padding: 0;
}
body{
    background-image: url("../components/field2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 1.25rem;
    line-height: 1;
    
    margin: 0 0 20px 0;
    




}
.header{
   background: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    border-radius: 20px;
    box-shadow:0px 0px 10px white;
    margin: 20px 10px 40px 10px;
    font-size: 2rem;
    padding: 5px;
    text-shadow:0px 0px 3px whitesmoke;
    color: #003775;
  
   
    
}
img{
   max-width: 100px;
   max-height: 100px;
   

}

footer{
    padding: 0 ;
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    scale: .8;  
}

.hint{
    background:#AB1318;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    border:2px solid silver;
    width: 50px;
    height:50px;
    text-align: center;

}

.hint:hover {
    transform: scale(1.2);
    background:silver;
}




.hidden{
    display: none; 
     visibility: hidden;

 
 }

 .bookmark__hidden{
     display:none;
     visibility: hidden;
    position: fixed;
    width: 40px;
    height: 40px;
 }

 .reveal{
     background: silver;
     border-radius: 50%;
     padding: 10px 10px 10px 10px;
     border: 2px solid black;
     width: 50px;
     height: 50px;
     text-align: center;
     margin-left: 140px;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .card__answer{
    
    box-shadow: 0px 0px 10px black;

 }

 .background{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
 }

