*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p{
    margin: 0;
}
ul[class],
ol[class]{
    list-style: none;
    padding: 0;
}
body{
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: navy;
}
.header{
    background-color: white;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    


}
img{
   max-width: 100px;
   max-height: 100px;

}

footer{
    padding: 10px 10px;
    background-color: white;
}
