.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: #003775;
    border-radius: 20px;
    margin:20px 20px 50px 20px;
    box-shadow: 0px 0px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    opacity: 80%;
    
}

.card__headline{
    font-weight: 500;
    padding:10px 10px;
    font-weight: 800;
    display: grid;
    grid-template-columns: 85% auto;

}


.card__button{
    border-radius: 20px;
    border: none;
    margin: 10px 20px;
    padding: 10px 10px;
    background-color: #AB1318;
    font-weight: 600;
    font-size: 15px;
    
}
.card__button:hover {
    transform: scale(1.01);
    background:silver;
}

.card__hints{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    justify-items:center;
    margin: 10px 20px;
    padding: 0;
    font-weight: 600;

    
}
.card__question{
    font-weight: 700;
    text-align: center;
    padding:10px ;
    border: solid 1px #AB1318;
    margin:0 10px;
    border-radius:20px;
    
   
}

.card__create{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items:center;
    align-content: center;
    margin: 20px 10px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #003775;
    border-radius: 20px;
    padding: 0px 0px 10px;
    box-shadow: 0 0 10px black;
;
}

.card__form{
    padding:0px 0px;
    margin: 5px 10px;
    border-radius: 20px;
    
    
    
}

.card__text{
    color: white;
    padding: 10px;
}


.card__inputform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.card__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items:center;
    align-content: center;
    margin: 20px 10px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #003775;
    border-radius: 20px;
    padding: 0px 0px 10px;
    box-shadow: 0 0 10px black;
    opacity: 85%;
}

.card__form{
    padding:0px 0px;
    margin: 5px 10px;
    border-radius: 20px;
    
}

.card__text{
    color: white;
    padding: 10px;
}

.card__inputform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}


.image__bookmark{
    width: 40px;
    height:40px;     
}

